*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.inventory--photos{
    margin: 0.3rem 0.5rem;
}
.inventory--photo--rows{
    display: flex;
    margin-bottom: 0.6rem;
    /* flex-wrap: wrap; */
}

/* .inventory--photo--rows > *{
    flex: 1 1 100%;
} */

.inventory-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.inventory-row img{
    width: 8rem;
}

.inventory-desc h5{
    font-size: 18px;
}
.inventory-desc p{
    font-size: 16px;
    font-weight: 500;
    opacity: 0.5;
    padding-right: 0.3rem;
}

.see-more, .see-less{
    display: none;
}

.inventory-row{
    position: relative;
    margin-bottom: 0.6rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* background-color: #c5fbc5; */
    margin-left: 0.5rem;
    /* color: #fff; */
}

.inventory-row .more-invent-photos{
    position: absolute;
    left: 5.8rem;
    bottom: 0.1rem;
    background-color: #fff;
    opacity: 1;
}

.footer--section{
    background-color:  #06ab4c;
}

.footer--logo img{
    width: 3rem;
    height: 2.8rem;
}
.footer--logo{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.9rem;
    color: #fff;
    text-transform: uppercase;
}

.follow--us, .contact-numbers span{
    padding: 0.5rem;
}

.contact-numbers span{
    padding: 0.5rem 0.7rem;
}
.follow--us h5{
    color: #fff;
    margin-bottom: 0.3rem;
    font-size: 18px;
    border-bottom: 2px solid #fff;
}
.follow--us .agri--green-soc a{
    padding: 0.7rem;
    font-size: 22px;
    color:  #f1e243;
}

.follow--us .agri--green-soc{
    margin: 0.8rem 0.2rem;
}
.follow--us .contact-numbers span{
    display: block;
    margin-bottom: 0.3rem;
    color: #fff;
}
.footer--quick-links a{
    display: block;
    margin: 0.3rem 0.6rem;
    text-decoration: none;
    color: #fff;
}
.footer--section footer{
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding-bottom: 0.8rem;
}


.footer--quick-links a{
    padding: 1rem;
}

.follow-us-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.2rem;
}

.contact--form{
    margin: 0.8rem 0.4rem;
}

.contact--form input{
    width: 50%;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    outline: none;
}

.contact-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.contact--form form #message{
    height: 5rem;
}

.contact--form button{
    display: block;
    background-color: #146c92;
    color: #fff;
    outline: none;
    border: none;
    padding: 0.5rem 0.8rem;
}

.hero--section{
    margin: 0.4rem 2rem;
}
.hero--section--content{
    position: relative;
    height: 320px;
    width: 100%;
    background-image: url(./images/back-hero.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.hero-section-desc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #146c92, #80c5e2, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) );
}

.hero-section-desc .hero--sect--desc{
    position: absolute;
    right: 0.4rem;
    bottom: 0.6rem;
    width: 50%;
    color: #fff;
    line-height: 2;
}

.hero--sect--desc .hero-btn{
    background-color: #fff;
    color: #146c92;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: none;
    text-align: center;
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
}

.hero-section-desc .hero--sect--desc{
    animation: hero-slide 4s;
}

/* background: linear-gradient(to left, #146c92, #80c5e2, rgba(255, 255, 255, 0.3) ); */

@media(max-width:767px){
    .inventory--photo--rows{
        flex-wrap: wrap;
    }
    .dis-click{
        display: none;
        transition: 0.3s ease-in;
    }
    .see-more, .see-less{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        text-align: center;
        background-color: blue;
        color: #fff;
        width: 10rem;
    }
    .follow-us-items{
        display: block;
    }
    .contact--form input{
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.2rem;
        outline: none;
    }

    .hero-section-desc{
        background: linear-gradient(to top, #146c92, #80c5e2, rgba(255, 255, 255, 0) );
    }

    .hero-section-desc .hero--sect--desc{
        position: absolute;
        right: 0.4rem;
        left: 0.4rem;
        bottom: 0.6rem;
        padding: 0.6rem;
        width: 100%;
        color: #fff;
        line-height: 1.4;
    }

    .hero--section{
        margin: 0.4rem;
    }

    .hero-section-desc .hero--sect--desc p{
        display: none;
    }
    
}

/* KEY FRAMES */

@keyframes hero-slide{
    from{
        transform: translateY(100%);
    }

    to{
        transform: translateY(0%);
    }
}